.contador {
    min-width: 300px;
    height: 300px;
    font-size: 160px;
    padding: 25px;
    color: rgb(245, 231, 231);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid rgb(238, 199, 199);
    margin-bottom: 15px;
}